<div class="fondo-content ">
  <div class="login-container grid gap-4">
    <h1>Accede a tu cuenta</h1>

<div class="d-flex">
  <button class="btn me-2 role-btn active">Soy jugador</button>
  <button class="btn role-btn">Soy empresa</button>
</div>

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control{{#if errors.email}} is-invalid{{/if}}"
      name="email" type="email" id="email" placeholder="nombre@ejemplo.com" value="{{user.email}}" required
    >
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control" 
      name="password" type="password" id="password" required
    >
  </div>
  <div class="login-btn">
    <button class="btn btn-primary login-btn" type="submit">Iniciar sesión</button>
    <p id="create-account">¿Aún no tienes cuenta de <span>jugador</span>? <a href="/register-player">Crear cuenta.</a></p>
    <div class="google-btn">
      <p>-o-</p>
      <a href="/login/google" class="btn btn-danger"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
</svg> Continuar con Google </a>
    </div>
  </div>
</form></div></div>

<script>
   const roleBtns = document.querySelectorAll('.role-btn');
   const googleBtn = document.querySelector('.google-btn');
   const createAccount = document.getElementById('create-account');
   const spanWord = createAccount.querySelector('span');
   const anchorLink = createAccount.querySelector('a');

   roleBtns.forEach((btn) => {
    console.log('entra')
    btn.addEventListener('click', (event) => {
      const clickedBtn = event.currentTarget;
      if (!clickedBtn.classList.contains('active')) {
        clickedBtn.classList.add('active');
        if (clickedBtn.nextElementSibling) {
          clickedBtn.nextElementSibling.classList.remove('active')
        } else {
          clickedBtn.previousElementSibling.classList.remove('active')
        }

        if (clickedBtn.innerText === 'Soy empresa') {
          googleBtn.classList.add('hidden');
          spanWord.innerText = 'empresa';
          anchorLink.href = '/register-company'
        } else {
          googleBtn.classList.remove('hidden');
          spanWord.innerText = 'jugador';
          anchorLink.href = '/register-player'
        }
      }
    })
   })
</script>