<h1>Accede a tu cuenta</h1>

<div class="d-flex">
  <button class="btn btn-primary me-2">Soy jugador</button>
  <button class="btn btn-primary">Soy empresa</button>
</div>

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control{{#if errors.email}} is-invalid{{/if}}"
      name="email" type="email" id="email" placeholder="nombre@ejemplo.com" value="{{company.email}}" required
    >
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control" 
      name="password" type="password" id="password" required
    >
  </div>
  <div class="flex">
    <button class="btn btn-primary" type="submit">Sign in</button>
    <a href="/login/google" class="btn btn-danger">Sign in with Google</a>
  </div>
</form>