<div class="fondo-content ">
  <div class="login-container grid gap-4">
    <h1 class="forms-tittle">Accede a tu cuenta</h1>

<div class="d-flex">
  <button class="btn me-2 role-btn active">Soy jugador</button>
  <button class="btn role-btn">Soy empresa</button>
</div>

<form action="/login?type=player" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control{{#if errors.email}} is-invalid{{/if}} input-forms"
      name="email" type="email" id="email" placeholder="nombre@ejemplo.com" value="{{user.email}}" required
    >
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control input-forms" 
      name="password" type="password" id="password" required
    >
  </div>
  <div class="login-btn-container">
    <button class="btn btn-primary login-btn" type="submit">Iniciar sesión</button>
    <p id="create-account">¿Aún no tienes cuenta de <span>jugador</span>? <a class="create-account-link" href="/register-player">Crear cuenta.</a></p>
    <div class="google-btn-container">
      <p>-o-</p>
      <a href="/login/google" class="btn google-btn"> <i class="bi bi-google me-3"></i><span>Continuar con Google </span></a>
    </div>
  </div>
</form></div></div>

<script>
   const roleBtns = document.querySelectorAll('.role-btn');
   const googleBtn = document.querySelector('.google-btn-container');
   const createAccount = document.getElementById('create-account');
   const spanWord = createAccount.querySelector('span');
   const anchorLink = createAccount.querySelector('a');
   const actionForm = document.querySelector('form');
   const email = document.getElementById('email');

   roleBtns.forEach((btn) => {
    console.log('entra')
    btn.addEventListener('click', (event) => {
      const clickedBtn = event.currentTarget;
      if (!clickedBtn.classList.contains('active')) {
        clickedBtn.classList.add('active');
        if (clickedBtn.nextElementSibling) {
          clickedBtn.nextElementSibling.classList.remove('active');
          actionForm.action = '/login?type=player';
          email.value = ' ';
          email.classList.remove('is-invalid')
        } else {
          clickedBtn.previousElementSibling.classList.remove('active');
          actionForm.action = '/login?type=company';
          email.value = ' ';
          email.classList.remove('is-invalid')
        }

        if (clickedBtn.innerText === 'Soy empresa') {
          googleBtn.classList.add('hidden');
          spanWord.innerText = 'empresa';
          anchorLink.href = '/register-company'
        } else {
          googleBtn.classList.remove('hidden');
          spanWord.innerText = 'jugador';
          anchorLink.href = '/register-player'
        }
      }
    })
   })
</script>