<div class="fondo-content ">
    <div class="gracias-container my-5">
          <img class="p-3"src="/images/IRONSCAPES-HORIZONTAL.png" alt="Logo" width="250">
        <h1 class="p-3" > ¡Gracias por registrate!</h1>
        <p class="p-3">Hemos enviado un correo electrónico al email con el que te has registrado. Revísalo para poder activar tu cuenta.</p>
    </div>
</div>
