<div class="fondo-content ">
    <div class="login-container my-5">
        <h1>¡Gracias por registrate!</h1>
        <p>Hemos enviado un correo electrónico al email con el que te has registrado para poder activar tu cuenta</p>
    </div>
</div>
