<div class="search-section d-flex">
  <div class="container mx-auto">
    <div class="row mx-auto align-items-center h-100">
      <div class="d-flex align-items-center justify-content-center flex-row">
        <form action="/resultados" method="GET">
          <input type="text" class="form-control" id="rooms-search" name="search">
          <button type="submit" id="search-button" class="btn btn-danger">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container w-75 mt-5 section-body">

  <h1>Los juegos que mas gustan</h1>
  {{#if mostLiked}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each mostLiked as |room|}}
    {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
    {{/each}}
  </div>
  {{/if}}



</div>

<div class="container w-75">
  <h1>Los jugadores que mas juegos han hecho</h1>
  {{#if lastPlayers}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each lastPlayers}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.avatar}}" class="card-img-top img-cards" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.city}}</p>
        <a href="/player/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<div class="container w-75 mt-5 section-body">
  <h1>Novedades</h1>
  {{#if lastRooms}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each lastRooms as |room|}}
    {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
    {{/each}}
  </div>
  {{/if}}

</div>

<div class="container w-75 mt-5 section-body">
  <h1>Recomendaciones</h1>
  {{#if hasCity}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each hasCity as |room| }}
    {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
    {{/each}}
  </div>
  {{/if}}

</div>

<script src="/js/cards-btns.js"></script>