<div class="puzzle-container"> 
<form action="/onboarding" method="POST">
      <div class="mb-3">
        <label for="message" class="form-label">Pon contraseña y entra</label>
        <input class="form-control {{#if errors.message}}is-invalid{{/if}}" name="message" type="text" id="message"
          placeholder="Escribe tu respuesta" value="{{comment.message}}" required>
        {{#if errors.message}}
        <div class="invalid-feedback">
          {{errors.message}}
        </div>
        {{/if}}
      </div>
      <div class="login-btn-container">
      <button class="btn login-btn" type="submit">Enviar</button>
      </div>
    </form>
    </div>