@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.hidden {
    display: none;
}

/* BODY */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-image: url(../images/fondo-amarillo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    color: #cdcdca;
    font-weight: bold;
    font-size: 25px;
}

/* NAVBAR */
.navbar {
    background-color: #040404 !important;
}
.nav-link, .nav-link.show, #navbar-name:hover, .dropdown-item  {
    color: #cdcdca !important;
}

.navbar-toggler-icon {
    background-color: #FFD321 !important;
}

.nav-btn:hover {
    color: #FFD321 !important;
}

.navbar-active {
    color: #FFD321 !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #040404 !important;
}

.dropdown-item:hover {
    background-color: #040404 !important;
}


/* FOOTER */

footer {
    background-color: #040404;
    min-height: 15vh;
    margin-top: auto;
    color: #cdcdca;
}
footer i {
    color: #FFD321;
}

.footer-container {
    flex-direction: column;
}

.footer-address {
    word-wrap: break-word
}

.footer-col {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
/* ONBOARDING */

.puzzle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    margin: auto;
    overflow: auto;

}
/*LOGIN REGISTER*/

.fondo-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

}

.login-container {
    width: 100%;
    max-width: 70vw;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: auto;

    position: fixed;
    top: 25px;
}

.register-container,
.form-room-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: auto;

}

.register-title {
    border-bottom: solid 1px #FFD321
}

.google-btn-container,
.login-btn-container,
.register-btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.login-btn, 
.register-btn {
    background-color: #FFD321;
    border: none;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #FFD76B;
    border: none;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.see-more-btn, .search-btn, .comment-btn,
.see-all-btn {
    background-color: #FFD321;
    border: none;
    color: #333;
    font-weight: bold;
}

.see-more-btn:hover,
.search-btn:hover,
.comment-btn:hover,
.see-all-btn:hover {
    background-color: #FFD76B;
    border: none;
    color: #333;
    font-weight: bold;
}


.google-btn {

    color: #cdcdca;
    border: 1px solid #cdcdca
}

.google-btn:hover {
    color: #eb8479;
    border: 1px solid #eb8479
}

.login-btn-container p,
.register-btn-container p {
    color: #cdcdca;
    font-size: 13px
}

.create-account-link {
    color: #FFD76B;
}

.company-link {
    color: #FFD76B;
    text-decoration: none;
}

.role-btn {
    border: 2px solid #FFD321;
    color: #FFD321;
    font-weight: bold;
}

.role-btn:hover {
    background-color: #FFD76B;
    color: #333;
    font-weight: bold;
}

.active {
    background-color: #FFD321 !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.login-container label,
.forms-container label,
.puzzle-container label {
    color: #cdcdca;
    font-weight: bold;
}

.login-container input,
.forms-container input,
.forms-container input[type="file"],
.puzzle-container input,
.form-select {
    background-color: #333;
    border: none;
    color: #cdcdca;

}

.login-container input:focus,
.forms-container input:focus,
.forms-container input[type="file"]:focus,
.puzzle-container input:focus,
.form-select:focus {
    background-color: #333;
    outline: 1px solid #FFD321;
    color: #cdcdca;
}

.forms-container input[type="file"]:before{
    content: 'Seleccionar archivo';
    color: #cdcdca;
}

.form-select option:hover {
    background-color: #FFD321 !important;
    outline: none !important;
    border: none !important;
}

.login-container input::placeholder,
.forms-container input::placeholder,
.puzzle-container input::placeholder {
    font-size: 12px;
    color: #cdcdca;
}


.forms-container input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

/* COMPANY DETAIL Y PROFILE */

.company-detail h1,
.company-profile h1,
.home-container h1,
.container h1{
    border-bottom: solid 1px #FFD321;
    display: inline-block;
}

.company-info,
.room-detail p,
.room-comment,
.info-player-container,
.no-results {
    color: #cdcdca;
}

.room-detail i{
    color: #FFD321 !important;
    margin-right: 2px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFD321; 
}

.swiper-button-next,
.swiper-button-prev {
  margin-right: 20px; 
}


#minimap-container {
    width: 100%;
    height: 240px;
    margin-top: 15px;
    margin-bottom: 70px;
}

#map {
    width: 300px;
}

/* PLAYER DETAIL Y PROFILE */
.player-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px #FFD321;
}

/* PÁGINA GRACIAS */
.gracias-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #333;
    padding: 20px;
}

.gracias-container p{
    color: #cdcdca; 
    text-align: center;
}


.nav-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.rooms-rows {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #cdcdca;

}

.room-buttons {
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #cdcdca;
}

.room-detail {
    margin-left: 20px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.btns-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.edit-btn,
.delete-btn {
    background-color: #585858;
    color: #cdcdca;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.edit-btn:hover {
    outline: solid 1px #2ebca0;
    color: #2ebca0;
}

.delete-btn:hover {
    outline: solid 1px #e57e95;
    color: #e57e95;
}

.bi-heart-fill {
    color: #e57e95;
}

.bi-bookmark-fill {
    color: rgb(144, 144, 233);
}

.bi-check-circle-fill {
    color: #2ebca0;
}

.room-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.search-section {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    height: 300px;
}

.card{
    width: 18rem;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to bottom, #4b4b4b, #1e1d1d);
    
    

}

.card-body {
    height: 14rem;
    color: #cdcdca;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.img-cards {
    height: 18rem;
    object-fit: cover;
    border-radius: 24px;
    padding: 10px;
}

.company-img-cards {
    height: 18rem;
    object-fit: contain;
    background-color: black;
    border-radius: 24px;
    padding: 10px
}

.swiper {
    width: 100%;
    height: 100%;
}

.bi-star,
.bi-star-fill {
    color: rgb(237, 198, 70)
}
/*EDITOR DE TEXTO*/

#tinymce{
    background-color: #333 !important;
    background-image: none;
    color: #cdcdca;
}

.tox-tinymce {
    border: 1px solid #cdcdca !important;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;;
    overflow: hidden;
    position: relative;
    visibility: inherit!important;
}

.tox-statusbar {
    background-color: #333 !important;
    border-top: 1px solid #cdcdca !important;
    color: #cdcdca !important;
}

.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount {
    color: #cdcdca !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background-color: #333 !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
    border-right: 1px solid #cdcdca !important;
}

.tox .tox-tbtn svg {
    fill: #FFD321 !important;
}

.tox .tox-split-button:hover {
    box-shadow: 0 0 0 1px #040404 inset !important;
}

.tox .tox-tbtn {
    color: #FFD321 !important;
}

.tox .tox-tbtn:hover {
    background-color: #040404 !important;
}

.tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover {
    background: #040404 !important;
}

.tox .tox-menu {
    background-color: #333 !important;
}

/*comments*/

.comment-date {
    font-size: 12px;
}

.comment-img {
    border: 2px solid #FFD321;
    object-fit: cover
}

.no-comments {
    color: #cdcdca
}

/*MEDIA QUERY*/
/* MOBILE */
@media (max-width: 768px) {
    .login-container {
        top: 100px;
    }
    .role-btns-container {
        flex-direction: column ;
    }
    .role-btn {
        width: 200px;
        margin-top: 5px;  
        margin-bottom: 5px; 

    }

    .google-btn{
        font-size: 15px;
    }
  }
  
  /* TABLET */
  @media (min-width: 769px) and (max-width: 1280) {
    .login-container {
        top: 25px;
    }
  }
  
  /* DESKTOP */
  @media (min-width: 1281) {
    .login-container {
        top: 100px;
    }
  }
