@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.hidden {
    display: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-image: url(../images/fondo-amarillo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


footer {
    background: linear-gradient(to bottom right, #ccb2eb, #9963b2);
    min-height: 25vh;
    margin-top: auto;
}

.footer-address {
    word-wrap: break-word
}

.footer-col {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: auto;

}

.fondo-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

}

.login-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: auto;

    /*position: fixed;
    top: 100px;*/
}

.register-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: auto;

}

.forms-tittle {
    color: #cdcdca;
    font-weight: bold;
}

.google-btn-container,
.login-btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.login-btn {
    background-color: #FFD321;
    border: none;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.google-btn {

    color: #cdcdca;
    border: 1px solid #cdcdca
}

.google-btn:hover {
    color: #eb8479;
    border: 1px solid #eb8479
}

.login-btn:hover {
    background-color: #FFD76B;
    border: none;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}



.login-btn-container p {
    color: #cdcdca;
    font-size: 13px
}

.create-account-link {
    color: #FFD76B;
}

.role-btn {

    border: 2px solid #FFD321;
    color: #FFD321;
    font-weight: bold;
}

.role-btn:hover {

    background-color: #FFD76B;
    color: #333;
    font-weight: bold;
}

.active {
    background-color: #FFD321 !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.login-container label,
.forms-container label,
.puzzle-container label {
    color: #cdcdca;
    font-weight: bold;
}

.login-container input,
.forms-container input,
.puzzle-container input {
    background-color: #333;
    border: none;
    color: #cdcdca;

}

.login-container input:focus,
.forms-container input:focus,
.puzzle-container input:focus {
    background-color: #333;
    outline: 1px solid #FFD321;
    color: #cdcdca;

}

.login-container input::placeholder,
.forms-container input::placeholder,
.puzzle-container input::placeholder {
    font-size: 12px;
    color: #cdcdca;
}


#minimap-container {
    width: 100%;
    height: 240px;
    margin-top: 15px;
    margin-bottom: 70px;
}

#map {
    width: 300px;
}

.nav-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.rooms-rows {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.room-detail {
    margin-left: 20px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.btns-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.edit-btn {
    background-color: #2ebca0;
}

.delete-btn {
    background-color: #e57e95;
}

.edit-btn,
.delete-btn {
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.bi-heart-fill {
    color: #e57e95;
}

.bi-bookmark-fill {
    color: rgb(144, 144, 233);
}

.bi-check-circle-fill {
    color: #2ebca0;
}

.room-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.search-section {
    background: linear-gradient(to bottom right, #ccb2eb, #9963b2);
    height: 150px;
}


.img-cards {
    height: 18rem;
    object-fit: cover;
}

.company-img-cards {
    height: 18rem;
    object-fit: contain;
    background-color: black;
    padding: 10px
}

.swiper {
    width: 100%;
    height: 100%;
}

.bi-star,
.bi-star-fill {
    color: rgb(237, 198, 70)
}